.modal-dialog {		
	color: #444;
	width: 500px; /* Augmentation de la largeur */
}
.modal-dialog .modal-content {
	padding: 25px;
	border-radius: 8px;
	border: none;
	text-align: center;
	font-size: 15px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
	background: #ffffff;
}
.modal-dialog .modal-header {
	border-bottom: none;   
	position: relative;
}
.modal-dialog h4 {
	text-align: center;
	font-size: 28px;
	margin: 30px 0 -10px;
	color: #333;
}
.modal-dialog .close {
	position: absolute;
	top: -10px;
	right: -2px;
	font-size: 22px;
	color: #666;
}
.modal-dialog .modal-body {
	color: #777;
}
.modal-dialog .modal-footer {
	border: none;
	text-align: center;		
	border-radius: 8px;
	font-size: 14px;
	padding: 15px 20px 30px;
}
.modal-dialog .modal-footer a {
	color: #777;
	transition: color 0.3s;
}
.modal-dialog .modal-footer a:hover {
	color: #333;
}
.modal-dialog .icon-box {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	border-radius: 50%;
	z-index: 9;
	text-align: center;
	border: 3px solid #e74c3c;
	background: linear-gradient(135deg, #ff7675, #e74c3c);
	display: flex;
	align-items: center;
	justify-content: center;
}
.modal-dialog .icon-box i {
	color: #fff;
	font-size: 48px;
}
.modal-dialog .btn, .modal-dialog .btn:active {
	color: #fff;
	border-radius: 5px;
	background: #27ae60;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	min-width: 130px;
	border: none;
	min-height: 42px;
	margin: 0 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.modal-dialog .btn:hover {
	background: #219150;
	transform: translateY(-2px);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
.modal-dialog .btn-secondary {
	background: #95a5a6;
}
.modal-dialog .btn-secondary:hover, .modal-dialog .btn-secondary:focus {
	background: #7f8c8d;
}
.modal-dialog .btn-danger {
	background: #e74c3c;
}
.modal-dialog .btn-danger:hover, .modal-dialog .btn-danger:focus {
	background: #c0392b;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}
